a:hover {
  color: blue;
  cursor: pointer;
}
.container-1 {
  background-color: #f5f1fe;
}

@media (max-width: 700px) {
  h3 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .button-container {
    text-align: center;
  }
}
